<section class="mbox panel mod-text">
	<header>
		<h2 contenteditable>Text Box</h2>
		<ul contenteditable>
			<li><a href="#">This is a nice link</a></li>
			<li><a href="#">This is a nice link also</a></li>
		</ul>
	</header>
	<div class="mbox-content">
		<div class="form-group">
			<label for="exampleInputEmail1">Description</label>
			<textarea class="form-control" rows="3"></textarea>
		</div>

		<div class="form-group">
			<label for="exampleInputFile">File input</label>
			<input type="file" id="exampleInputFile">
			<p class="help-block">Example block-level help text here.</p>
		</div>
		<div class="checkbox">
			<label>
				<input type="checkbox"> Check me out
			</label>
		</div>
	</div>
	<footer></footer>
</section>