<div class="modal" role="dialog" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button class="close" type="button" ng-click="hideModal()">&times;</button>
				<h4 class="modal-title">{{ title }}</h4>
			</div>
			<div class="modal-body">
 			
				{{ content }}
				<button test-template data-template-type="text">Add Text Template</button>
				<button test-template data-template-type="text_image">Add Text & Image Template</button>

			</div>
		</div>
	</div>
</div>