<div class="modal" role="dialog" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" type="button">&times;</button>
                    <h4 class="modal-title">DEEZ</h4>
                </div>
                <div class="modal-body">
                    <h4>Text in a modal</h4>
                    <p></p>
                    <pre>
2 + 3 = {{ 2 + 3 }}
</pre>
                    <h4>Popover in a modal</h4>
                    <p>This <a class="btn btn-default popover-test"
                    data-content=
                    "And here\'s some amazing content. It\'s very engaging. right?"
                    data-title="A Title" href="#" role="button">button</a>
                    should trigger a popover on click.</p>
                    <h4>Tooltips in a modal</h4>
                    <p><a class="tooltip-test" data-title="Tooltip" href=
                    "#">This link</a> and <a class="tooltip-test" data-title=
                    "Tooltip" href="#">that link</a> should have tooltips on
                    hover.</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" type=
                    "button">Close</button> <button class="btn btn-primary"
                    type="button">Save changes</button>
                </div>
            </div>
        </div>
    </div>