<section class="mbox panel mod-text">
	<div class="mbar">
		<a href="#">Collapse </a>
		<a href="#" as-sortable-item-handle class="as-sortable-item-handle" >Move </a>
		<a href="#">Edit </a>
		<a href="#">Delete</a>
	</div>
	<header class="mbox-header">
	<h2>Text & Image</h2>
		<ul>
			<li><a href="#" class="mbox-edit glyphicon glyphicon-cog">Information Here</a></li>
			<li><a href="#" class="glyphicon glyphicon-remove">Information Here</a></li>
		</ul>
	</header>
	<div class="mbox-content">
		<div class="form-group">
			<label for="exampleInputEmail1">Description</label>
			<textarea class="form-control" rows="3"></textarea>
		</div>

		<div class="form-group">
			<label for="exampleInputFile">File input</label>
			<input type="file" id="exampleInputFile">
			<p class="help-block">Example block-level help text here.</p>
		</div>
		<div class="checkbox">
			<label>
				<input type="checkbox"> Check me out
			</label>
		</div>
	</div>
	<footer></footer>
</section>